body{

    background-color: black;
}


.container{ 
background-color: antiquewhite;
padding: 15px;
width: 20rem;
margin-left: 40%;
margin-top: 16%;


}


button{

background-color: azure; 
justify-content: center;


}
